[user]
	name = Anton Karamanov
[ui]
	color = 1
[color]
	ui = true
[push]
	default = simple
[alias]
	s = status .
	d = diff .
	dc = diff --cached .
	c = commit
	ad = commit --amend
	ch = checkout
	pk = cherry-pick
	b = checkout -b
	m = checkout master
	pre = checkout -
	a = add
	au = add -U
	aa = add --all
	ap = add -p
	pl = pull upstream master
	pu = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
	reb = rebase master
	ff = merge --ff-only
	br = branch
	bd = branch -d
	bm = branch --merged
	l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --no-merges --perl-regexp --author='^((?!Stattester).*)$'
	lst = log -p -1
	r = reflog
